<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="https://i.imgur.com/vmdGjqG.png" width="40" height="30 class="d-inline-block align-top" alt="">
    <strong>My Store</strong>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
   <ul class="nav nav-pills">
        <li><%= link_to "Home", home_path %></li>
        <% if !!@cart %>
          <li> <%= link_to "Cart", cart_path(@cart) %></li>
        <% end %>
        <% if current_user.nil? %>
          <li> <%= link_to "Sign in", new_user_session_path %></li>
          <li> <%= link_to "Sign up", new_user_registration_path %></li>
        <% else %>
          <li>Signed in as <%= current_user.email %></li>
          <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% end %>
    </ul>
    </nav>
    </nav>