<!DOCTYPE html>
<html>
<head>
  <title>My Store</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<div class="container">

<%= render 'layouts/header' %>
<%= render 'layouts/flash' %>

<%= yield %>
</div>

</body>
</html>